In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import scale
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

In [24]:
csv_in = 'data/housing.csv'
df = pd.read_csv(csv_in,sep=',',skiprows=0,header=0)
print(df.shape)
print(df.info())
display(df.head())

(20640, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [25]:
df=df.dropna()

In [26]:
X = df.drop(columns='median_house_value')
y = df['median_house_value']
print('X:',X.shape)
display(X.head())
print('y:',y.shape)
print(y.head())

X: (20433, 9)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,NEAR BAY

y: (20433,)
0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [27]:
X['ocean_proximity']=X['ocean_proximity'].replace({'ISLAND':1, 'NEAR BAY':2, '1H OCRAN':4, 'ONLAND':5})
display(X.head())

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,2
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,2
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,2
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,2
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,2

In [28]:
X_dumm=pd.get_dummies(X, drop_first=True)
print('X_dumm:',X_dumm.shape)
display(X_dumm.head())

X_dumm: (20433, 12)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_2,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,1,0,0,0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,1,0,0,0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,1,0,0,0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,1,0,0,0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,1,0,0,0

In [29]:
X_dumm_c=sm.add_constant(X_dumm)
model=sm.OLS(y, X_dumm_c)
results=model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     median_house_value   R-squared:                       0.646
Model:                            OLS   Adj. R-squared:                  0.646
Method:                 Least Squares   F-statistic:                     3112.
Date:                Thu, 08 Jun 2023   Prob (F-statistic):               0.00
Time:                        16:19:48   Log-Likelihood:            -2.5655e+05
No. Observations:               20433   AIC:                         5.131e+05
Df Residuals:                   20420   BIC:                         5.132e+05
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                      -2.117e+06   9.39e+04    -22.536      0.000    -2.3e+06   -1.93e+06
longitude                  -2.681e+04   1019.651    -26.296      0.000   -2.88e+04   -2.48e+04
latitude                   -2.548e+04   1004.702    -25.363      0.000   -2.75e+04   -2.35e+04
housing_median_age          1072.5200     43.886     24.439      0.000     986.501    1158.540
total_rooms                   -6.1933      0.791     -7.825      0.000      -7.745      -4.642
total_bedrooms               100.5563      6.869     14.640      0.000      87.093     114.019
population                   -37.9691      1.076    -35.282      0.000     -40.078     -35.860
households                    49.6173      7.451      6.659      0.000      35.012      64.222
median_income               3.926e+04    338.005    116.151      0.000    3.86e+04    3.99e+04
ocean_proximity_2          -1.569e+05   3.08e+04     -5.096      0.000   -2.17e+05   -9.65e+04
ocean_proximity_<1H OCEAN  -1.529e+05   3.07e+04     -4.974      0.000   -2.13e+05   -9.26e+04
ocean_proximity_INLAND     -1.922e+05   3.08e+04     -6.239      0.000   -2.53e+05   -1.32e+05
ocean_proximity_NEAR OCEAN -1.486e+05   3.08e+04     -4.833      0.000   -2.09e+05   -8.83e+04
==============================================================================
Omnibus:                     5049.292   Durbin-Watson:                   0.977
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            19123.138
Skew:                           1.197   Prob(JB):                         0.00
Kurtosis:                       7.090   Cond. No.                     8.03e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.03e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [30]:
print('Adj R2:', results.rsquared_adj)

Adj R2: 0.6462560732632219

In [31]:
print(results.params)

const                        -2.117052e+06
longitude                    -2.681299e+04
latitude                     -2.548218e+04
housing_median_age            1.072520e+03
total_rooms                  -6.193264e+00
total_bedrooms                1.005563e+02
population                   -3.796908e+01
households                    4.961733e+01
median_income                 3.925957e+04
ocean_proximity_2            -1.568560e+05
ocean_proximity_<1H OCEAN    -1.529019e+05
ocean_proximity_INLAND       -1.921862e+05
ocean_proximity_NEAR OCEAN   -1.486238e+05
dtype: float64

In [32]:
X_scaled_ar=scale(X_dumm)
y_scaled_ar=scale(y)
X_scaled=pd.DataFrame(X_scaled_ar, columns=X_dumm.columns)
y_scaled=pd.Series(y_scaled_ar, name=y.name)
model=sm.OLS(y_scaled, X_scaled)
results_scaled=model.fit()
print(results_scaled.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:     median_house_value   R-squared (uncentered):                   0.646
Model:                            OLS   Adj. R-squared (uncentered):              0.646
Method:                 Least Squares   F-statistic:                              3112.
Date:                Thu, 08 Jun 2023   Prob (F-statistic):                        0.00
Time:                        16:19:48   Log-Likelihood:                         -18370.
No. Observations:               20433   AIC:                                  3.676e+04
Df Residuals:                   20421   BIC:                                  3.686e+04
Df Model:                          12
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
longitude                     -0.4654      0.018    -26.297      0.000      -0.500      -0.431
latitude                      -0.4716      0.019    -25.364      0.000      -0.508      -0.435
housing_median_age             0.1170      0.005     24.440      0.000       0.108       0.126
total_rooms                   -0.1172      0.015     -7.825      0.000      -0.147      -0.088
total_bedrooms                 0.3671      0.025     14.641      0.000       0.318       0.416
population                    -0.3727      0.011    -35.283      0.000      -0.393      -0.352
households                     0.1643      0.025      6.659      0.000       0.116       0.213
median_income                  0.6459      0.006    116.154      0.000       0.635       0.657
ocean_proximity_2             -0.4270      0.084     -5.096      0.000      -0.591      -0.263
ocean_proximity_<1H OCEAN     -0.6578      0.132     -4.974      0.000      -0.917      -0.399
ocean_proximity_INLAND        -0.7753      0.124     -6.239      0.000      -1.019      -0.532
ocean_proximity_NEAR OCEAN    -0.4310      0.089     -4.833      0.000      -0.606      -0.256
==============================================================================
Omnibus:                     5049.292   Durbin-Watson:                   0.977
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            19123.138
Skew:                           1.197   Prob(JB):                         0.00
Kurtosis:                       7.090   Cond. No.                         104.
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [33]:
print(results_scaled.params.sort_values(key=np.abs,ascending=False))

ocean_proximity_INLAND       -0.775298
ocean_proximity_<1H OCEAN    -0.657847
median_income                 0.645947
latitude                     -0.471594
longitude                    -0.465384
ocean_proximity_NEAR OCEAN   -0.431033
ocean_proximity_2            -0.427018
population                   -0.372735
total_bedrooms                0.367070
households                    0.164322
total_rooms                  -0.117242
housing_median_age            0.116991
dtype: float64

In [36]:

#X_test = pd.DataFrame([[-122.0, 38.0, 5, 10000, 1500, 3000, 1700, 5.0, 2]], columns=X_dumm.columns)
X_test = pd.DataFrame([[-122.0, 38.0, 5, 10000, 1500, 3000, 1700, 5.0, 2, 0, 0, 0]], columns=X_dumm.columns)

print('X for prediction:')
display(X_test)

X for prediction:

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_2,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_NEAR OCEAN
0,-122.0,38.0,5,10000,1500,3000,1700,5.0,2,0,0,0

In [37]:
X_test_c = sm.add_constant(X_test,has_constant='add')
y_test = results.predict(X_test_c)
print('Predicted y:')
print(y_test)

Predicted y:
0    133101.976743
dtype: float64